html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(252, 234, 212);
}

/* Меню панель */




.d-flex{
    margin-bottom: 0.5rem;
}















/* Главное  */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    max-height: 100%;
    margin: 0 20px 5px 20px;
    box-shadow: 0 0 5px 2px rgb(119, 119, 119);
}

.main_h1 {
    padding-top: 4rem;
    text-align: center;
}

.main_img {
    padding: 20px;
    width: 50%;
}

.main_text {
    padding: 1rem;
    width: 50%;

}

.main img {
    border-radius: 5rem;
    max-width: 40rem;
    height: auto;
}

/* Текст */


.main_text p {
    font-size: x-large;
    text-align: justify;
}

/* Таблица */
.section_week {
    padding-top: 50px;
}

.section_week img {
    border-radius: 5rem;
}

.section_week h1 {
    text-align: center;
    font-size: xx-large;
}

.section_week h3 {
    margin-left: 20%;
    text-align: left;
    font-size: x-large;
}

.news_1_container,
.news_2_container,
.news_3_container {
    padding: 2rem;
    box-shadow: 0 0 5px 2px rgb(119, 119, 119);
    margin: 20px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.news_1,
.news_2,
.news_3 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.news_1 p,
.news_2 p,
.news_3 p {
    font-size: x-large;
    text-align: justify;
}

.news_1 form,
.news_2 form,
.news_3 form {

    padding-bottom: 10px;
    align-self: flex-start;
    flex-direction: column;
    display: flex;
}

.news_1 form input,
.news_2 form input,
.news_3 form input {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    align-self: flex-start;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 300px;
}

.news_1 form button,
.news_2 form button,
.news_3 form button {
    padding: 10px;

    border-radius: 5px;
    margin-top: 10px;
    align-self: flex-end;
}

.sel_polit_container {
    padding-top: 4rem;
}

.polit_container {
    justify-content: space-between;
    margin: 1rem;
    box-shadow: 0 0 5px 2px rgb(119, 119, 119);
    max-height: 100%;
    display: flex;
    padding: 0.5rem;
}

.sel_polit_container h1 {
    text-align: center;
}



.sel_polit_container li {
    font-style: oblique;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.sel_polit_container a {
    font-size: 1.2rem;
    text-decoration: none;
}

.sec_sport_container {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-height: 100%;
    padding: 1rem;
    margin: 20px;
    box-shadow: 0 0 5px 2px rgb(119, 119, 119);
}

.sec_sport_container h1 {
    font-size: 2rem;
}

.sec_sport_container h1,
p {
    text-align: center;
}

.sec_sport_container p {
    font-size: 1.5rem;
}




.sec_sport_container table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    background-color: aliceblue;


}




.sec_sport_container th,
td:first-child {

    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

.sec_sport_container th,
td {
    padding: 10px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(0, 0, 0);
}

.sec_sport_container th:first-child,
td:first-child {
    text-align: left;
}



#footer {
    box-shadow: 0 0 5px 2px rgb(119, 119, 119);
    background-color: darkkhaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer2 {
    display: flex;
}

#footer a {
    padding: 5px;
}

.footer_denya {
    flex-wrap: nowrap;
}

#footer p {
    padding: 0 10px 0 10px;
}

#footer form {
    padding: 1rem 1rem 1rem 1rem;
}













@media screen and (max-width: 700px) {

    .nav {
        justify-content: space-around;
    }

    .nav_image {
        display: none;
    }

    .seach_box {
        display: none;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .main_img {
        width: 100%;
        text-align: center;
    }

    .main_text {
        width: auto;
    }

    .main_img img {
        width: 95%;
        height: auto;
    }

    .new img {
        width: 200px;
        height: auto;
    }

    .news_1_container,
    .news_2_container,
    .news_3_container {
        flex-direction: column;
        padding: 0;
    }

    .section_week img {
        margin-top: 1rem;
        width: 23rem;
        height: auto;

    }

    #week img {
        width: 95%;

    }

    .section_week input,
    textarea {

        width: 80%;
    }

    .news_1 form,
    .news_2 form,
    .news_3 form {
        display: block;
        text-align: center;
    }


    .news_1 form button,
    .news_2 form button,
    .news_3 form button {
        width: 50%;
    }



    .polit_container {
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
    }

    .footer2 {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer2 img {
        width: 60px;
        height: 60px;
    }

    #footer .footer_denya {
        order: 1;

    }

    @media screen and (max-width: 465px) {
        .sec_sport_container {
            display: inline-block;
            overflow-y: scroll;
        }
    }




}